<mat-card *ngIf="word">
  <form #carForm="ngForm" (ngSubmit)="save()">
    <mat-card-header>
      <h2>{{ word.id ? "Edit" : "Add" }} word</h2>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          [(ngModel)]="name"
          matInput
          name="name"
          placeholder="Word name"
          required
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          (click)="goBack()"
          color="secondary"
          mat-raised-button
          type="button"
        >
          Cancel
        </button>
        <button
          [disabled]="!carForm.form.valid"
          color="primary"
          mat-raised-button
          type="submit"
        >
          Save
        </button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</mat-card>
