<mat-card class="scrollable-content">
  <mat-card-header >
    <h2>Words list</h2>
    <span class="example-spacer"></span>
    <button color="primary" mat-raised-button routerLink="detail">
      <mat-icon>add</mat-icon>
      Add new word
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-nav-list class="words-list">
      <mat-list-item
        *ngFor="let word of words"
        routerLink="detail/{{ word.id }}"
      >
        <div matListItemTitle matLine><b>{{ word.name }}</b></div>
        <mat-icon matListItemIcon (click)="deleteWord($event, word.id)" class="icon">
          delete
        </mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
